<%- include("partials/header") %>


    <nav class="navbar bg-dark navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand"><i class="fas fa-laptop mr-2"></i> Silviu Preoteasa </a>
        </div>
    </nav>

    <section id="header" class="jumbotron text-center" style="background: url(https://media3.giphy.com/media/l4KihuqeuJEi9qLSM/giphy.gif) center center / cover no-repeat;">
        <h1 class="display-3 ">Skills</h1>
        <p class="lead ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, pariatur?</p>

        <!--  <a href="/portfolio" class="btn btn-primary ">Portfolio</a> -->
        <a href="/" class="btn btn-success ">Home</a>
    </section>

    <div class="row" style="display:flex; flex-wrap: wrap; ">
        <% skills.forEach(function(skill){ %>
            <div class="col-md-4 col-sm-6 col-lg-4 d-flex align-items-stretch">
                <div class="img-fluid img-thumbnail text-center" style="background-color: AliceBlue;"><img src="<%= skill.image %>" alt="" class="img-fluid">
                    <div class="caption text-center">
                        <h4>
                            <%= skill.skill %>
                        </h4>
                    </div>
                    <p class="text-center text-bottom">
                        <%= skill.description %>
                    </p>


                </div>


            </div>
            <% }); %>
    </div>




    <%- include("partials/footer") %>